<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="principal.component.css">
</head>
<body>
    <div class="container">
        <navbar></navbar>
        <!--Banner Principal-->
        <carousel></carousel>
        <div  class="productos"  *ngFor="let productos of products">
            <product [product]="productos"></product>
        </div>
        <footer></footer>
    </div>
</body>
</html>